{% extends 'default_page.html' %}
{% load poll_extras %}
{%load staticfiles %}
{% block content %}
<style>
   .btn span.fa-check {    			
   opacity: 0;				
   }
   .btn.active span.fa-check {				
   opacity: 1;				
   }
</style>
<div class="content-header">
   <div class="container-fluid">
      <div class="row mb-2">
         <div class="col-sm-6">
            <h1 class="m-0 text-dark">Abonelik Düzenle</h1>
         </div>
         <!-- /.col -->
         <div class="col-sm-6 buttonmobile">
            <ol class="breadcrumb float-sm-right">
            </ol>
         </div>
         <!-- /.col -->
      </div>
      <!-- /.row -->
   </div>
   <!-- /.container-fluid -->
</div>
<div class="modal-body">
   <div class="direct-chat-msg">
       <div class="direct-chat-text">
         Adres : {{abone.adres}}
       </div>
   </div>
   <div class="direct-chat-msg">
       <div class="direct-chat-text">
         Açıklama : {{abone.aciklama}}
       </div>
   </div>
   <div class="direct-chat-msg">
       <div class="direct-chat-text">
          {{abone.ekleyen.adi}} tarafından {{abone.tarih}} tarihinde eklendi.
       </div>
   </div>
</div>
<div class="modal-body">
   <form action="/abonelik/duzenlefuc/{{abone.id}}" method="post">
      {% csrf_token %}
      <div class="form-group">
         <div class="row">
            <label class="col-sm-2">Abone Türü:</label>
            <div class="col-sm-10">
               <div class="btn-group" style="display: inline-table;" data-toggle="buttons">
                  <label class="btn btn-default {%if abone.tur == 0%}active{%endif%}" id="btn1">
                  <input type="radio" autocomplete="off" name="tur" value="0" style="display:none;">Medaş
                  <span class="fa fa-check "></span>
                  </label>
                  <label class="btn btn-default {%if abone.tur == 1%}active{%endif%}" id="btn2">
                  <input type="radio" autocomplete="off" name="tur" value="1" style="display:none;">Koski
                  <span class="fa fa-check "></span>
                  </label>
                  <label class="btn btn-default {%if abone.tur == 2%}active{%endif%}" id="btn3">
                  <input type="radio" autocomplete="off" name="tur" value="2" style="display:none;">Enerya
                  <span class="fa fa-check "></span>
                  </label>
               </div>
            </div>
         </div>
      </div>
      <div class="form-group">
         <label for="recipient-name" class="control-label">Abone No:</label>
         <input type="text" class="form-control " id="aboneno" name="aboneno" placeholder="Abone Numarası" maxlength="50" required="" oninvalid="this.setCustomValidity('Lütfen bu alanı doldurunuz.')"  oninput="setCustomValidity('')" value="{{abone.aboneno}}">
      </div>
      <div class="form-group">
         <label for="recipient-name" class="control-label">Adres:</label>
         <textarea type="text" class="form-control" id="adres" name="adres" placeholder="Adres" maxlength="250">{{abone.adres}}</textarea>
      </div>
      <div class="form-group">
         <label for="recipient-name" class="control-label">Masraf:</label>
         <input type="text" class="form-control " id="masraf" name="masraf" placeholder="Masraf" maxlength="50" value="{{abone.masraf}}">
      </div>

      <div class="form-group">
         <label for="recipient-name" class="control-label">Proje Adı:</label>
         <div class="input-group">
             <select class="form-control " name="projeadi">
               {%for proje in projeler%}
               <option value="{{proje.id}}" {%if proje.adi == abone.projeadi.adi%} selected="" {%endif%}>{{proje.adi}}</option>
               {%endfor%}
               </select>
           </div>
      </div>
      <div class="form-group">
         <label for="recipient-name" class="control-label">Açıklama:</label>
         <textarea type="text" class="form-control" id="aciklama" name="aciklama" placeholder="Açıklama">{{abone.aciklama}}</textarea>
      </div>
      <div class="row">
         <div class="form-group col-sm-6">
            <label for="recipient-name" class="control-label">Ada/Pafta:</label>
            <input type="text" class="form-control " id="adapafta" name="adapafta" placeholder="Ada/Pafta" maxlength="15" required="" oninvalid="this.setCustomValidity('Lütfen bu alanı doldurunuz.')"  oninput="setCustomValidity('')" value="{{abone.adapafta}}" >
         </div>
         <div class="form-group col-sm-6">
            <label for="recipient-name" class="control-label">Tarih:</label>
            <div class="input-group date" data-provide="datepicker">
               <input type="text" class="form-control" autocomplete="off" id="datepickertop" name="tarih" placeholder="Tarih"  required="" oninvalid="this.setCustomValidity('Lütfen bu alanı doldurunuz.')"  oninput="setCustomValidity('')" value="{{abone.tarih}}">
               <div class="input-group-addon">
                  <span class="glyphicon glyphicon-th"></span>
               </div>
            </div>
         </div>
      </div>
      <div class="modal-footer">
         <a href="/abonelik/hepsi" role="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</a>
         <button type="submit" class="btn btn-primary">Kaydet</button>
      </div>
   </form>
</div>

<script type="text/javascript">
$(function() {
    if ($('#btn1').hasClass('active')){
      $('#btn1').click().click();
    }
    if ($('#btn2').hasClass('active')){
      $('#btn2').click().click();
    };
    if ($('#btn3').hasClass('active')){
      $('#btn3').click().click();
    };
});

</script>
{% endblock %}