{% extends 'default_page.html' %}
{% load poll_extras %}
{%load staticfiles %}
{% block content %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Bina Kontrol</h1>
      </div><!-- /.col -->
      <div class="col-sm-6 buttonmobile">
        <ol class="breadcrumb float-sm-right">
         <div class="btn-group" style="min-width:100%;">
                        <a href="/binakontrol/ekle" class="btn btn-primary" role="button">Ekle  <i class="fa fa-plus"></i></a>
                      </div>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>




<div class="card">
              <div class="card-header">
                <h3 class="card-title">Kayıtlar</h3> 
                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </div>
                  </div>
                </div>               
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody><tr>
                    <th>Proje Adı</th>
                    <th>Hakkında</th>
                    <th>Tarih</th>
                    <th>Ekleyen</th>
                    <th>Eklenme Tarihi</th>
                    <th>İşlem</th>
                  </tr>
                  {%for rec,i in record%}
                  <tr>
                    <td>{{rec.projeadi}}</td>
                    <td>{{rec.hakkinda}}</td>
                    <td>{{rec.tarih}}</td>
                    <td>{{rec.ekleyen.adi}}</td>
                    <td>{{rec.eklenmetarihi}}</td>
                    <td>
                      <div class="btn-group">
                        <a href="/binakontrol/duzenle/{{rec.id}}" role="button" class="btn btn-default btn-flat">{{i}} Dosya</a>
                        <a href="/binakontrol/duzenle/{{rec.id}}" role="button" class="btn btn-warning btn-flat"><i class="fa fa-edit"></i></a>
                        <a href="/binakontrol/silfuc/{{rec.id}}" role="button" class="btn btn-danger btn-flat" onclick="return confirm('Bu arızayı silmek istediğinize emin misiniz ?')"><i class="fa fa-remove"></i></a>
                      </div>
                    </td>
                  </tr>         
                  {%endfor%}
                  
                </tbody></table>
              </div>
              <!-- /.card-body -->
            </div>



{% endblock %}