{% extends 'default_page.html' %}
{%load staticfiles %}
{% block content %}

<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Blok Ekle<sup style="font-size: 18px"> {{pid}}</sup></h1>
      </div><!-- /.col -->
 
  </div><!-- /.container-fluid -->
</div>
</div>
<form action="/satis/projeler/blokeklefuc/{{pid.id}}" method="post">{% csrf_token %} 
		<div class="modal-body">
			  <div class="form-group">
				<label for="recipient-name" class="control-label">Blok Adı:</label>
				<input type="text" class="form-control " id="blokadi" name="blokadi" placeholder="Blok Adı" maxlength="100" required="" oninvalid="this.setCustomValidity('Bu alan boş bırakılamaz.')" oninput="setCustomValidity('')">
			  </div>
			  <div class="form-group">
				<label for="recipient-name" class="control-label">Metre Kare:</label>
				<input type="text" class="form-control " id="metrekare" name="metrekare" placeholder="Metre Kare" required="" autofocus="" oninvalid="this.setCustomValidity('Bu alan boş bırakılamaz.')"  oninput="setCustomValidity('')">
			  </div>
			<div class="row">
			  <div class="col-sm-4">
				  <div class="form-group">
					<label for="recipient-name" class="control-label">Oda Sayısı:</label>
					<select class="form-control" id="odasayisi" name="odasayisi">
						
						<option value="1+0">1+0</option>	
						<option value="1">1</option>	
						<option value="1+1">1+1</option>	
						<option value="2+1">2+1</option>	
						<option value="2+2">2+2</option>	
						<option value="3+1">3+1</option>	
						<option value="3+2">3+2</option>	
						<option value="4+1">4+1</option>	
						<option value="4+2">4+2</option>	
						<option value="4+3">4+3</option>	
						<option value="4+4">4+4</option>	
						<option value="5+1">5+1</option>	
						<option value="5+2">5+2</option>	
						<option value="5+3">5+3</option>	
						<option value="5+4">5+4</option>	
						<option value="6+1">6+1</option>	
						<option value="6+2">6+2</option>	
						<option value="6+3">6+3</option>	
					</select>
				  </div>
			  </div>
			  <div class="col-sm-4">
				  <div class="form-group">
					<label for="recipient-name" class="control-label">Kat Sayısı:</label>
					<select class="form-control" id="katsayisi" name="katsayisi">
					
					  <option value="1" selected="">1</option>
					  <option value="2">2</option>
					  <option value="3">3</option>
					  <option value="4">4</option>
					  <option value="5">5</option>
					  <option value="6">6</option>
					  <option value="7">7</option>
					  <option value="8">8</option>
					  <option value="9">9</option>
					  <option value="10">10</option>
					  <option value="11">11</option>
					  <option value="12">12</option>
					  <option value="13">13</option>
					  <option value="14">14</option>
					  <option value="15">15</option>
					  <option value="16">16</option>
					  <option value="17">17</option>
					  <option value="18">18</option>
					  <option value="19">19</option>
					  <option value="20">20</option>
					</select>
				  </div>
			  </div>
			  <div class="col-sm-4">
				  <div class="form-group">
					<label for="recipient-name" class="control-label">Kat Daire Sayısı:</label>
					<select class="form-control" id="birkattakidairesayisi" name="birkattakidairesayisi">
					  <option value="1" selected="">1</option>
					  <option value="2">2</option>
					  <option value="3">3</option>
					  <option value="4">4</option>
					</select>
				  </div>
			  </div>
			</div>
			<div class="form-group">
				<div class="checkbox">
				  <label for="recipient-name" class="control-label">Ortalama Fiyat Girerseniz Daireler Otomatik Oluşur</label>
				  </label>
				</div>
				<input type="text" class="form-control " id="genelfiyat" name="genelfiyat" placeholder="Lütfen her daire için genel bir daire fiyatını giriniz." autofocus="">
			</div>
			<div class="form-group">
				<label for="recipient-name" class="control-label">Blok Kenar Açıklamaları</label>
				
							<textarea rows="1" type="text" class="form-control " id="blokKenarSol" name="blokKenarSol" placeholder="Sol (Boş Kalabilir)" maxlength="100"></textarea>
							<textarea rows="1"type="text" class="form-control " id="blokKenarSag" name="blokKenarSag" placeholder="Sağ (Boş Kalabilir)" maxlength="100"></textarea>
							<textarea rows="1"type="text" class="form-control " id="blokKenarYukari" name="blokKenarYukari" placeholder="Yukarı (Boş Kalabilir)" maxlength="100"></textarea>
							<textarea rows="1"type="text" class="form-control " id="blokKenarAsagi" name="blokKenarAsagi" placeholder="Aşağı (Boş Kalabilir)" maxlength="100"></textarea>
			</div>		
		</div>
        <div class="modal-footer">
          <a href="/satis/projeler/{{pid.id}}/0" role="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</a>
          <button type="submit" class="btn btn-primary">Ekle</button>
        </div>
      </form>
{% endblock %}
