{% extends 'default_page.html' %}
{% load poll_extras %}
{%load staticfiles %}
{% block content %}

<style>
.btn span.fa-check {    			
	opacity: 0;				
}
.btn.active span.fa-check {				
	opacity: 1;				
}
</style>

<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Tapu Alış Ekle</h1>
      </div><!-- /.col -->
      <div class="col-sm-6 buttonmobile">
        <ol class="breadcrumb float-sm-right">
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>

<div class="modal-body">
		
 <form action="/tapusicil/tapualis/duzenlefuc/{{alis.id}}" method="post" id="pForm">
{% csrf_token %}
		<div class="form-group">
			<div class="row">
				<label class="col-sm-2">Satın Alma Türü:</label>
				<div class="col-sm-10">
					<div class="btn-group" style="display: inline-table;" data-toggle="buttons">
						{%for i in tur%}
						<label class="btn btn-default {%if alis.gayrimenkul == i%}active{%endif%}" id="btn{{forloop.counter}}">
							{{i.counter}}
							<input type="radio" autocomplete="off" name="satinalma" value="{{i}}" style="display:none;">{{i}}
							<span class="fa fa-check "></span>
						</label>
						{%endfor%}
						
					</div>
				</div>
			</div>
		</div> <!-- /from-group-->	
		<div class="form-group">
			<label for="recipient-name" class="control-label">Tapu Sahibi:</label>
			<input type="text" class="form-control " id="tapusahibi" name="tapusahibi" placeholder="Tapu Sahibi" maxlength="50" required="" oninvalid="this.setCustomValidity('Lütfen bu alanı doldurunuz.')"  oninput="setCustomValidity('')" value="{{alis.tapusahibi}}">
		</div>
		<div class="row">
			<div class="form-group col-sm-6">
				<label for="recipient-name" class="control-label">Ada/Pafta:</label>
				<input type="text" class="form-control " id="adapafta" name="adapafta" placeholder="Ada/Pafta" maxlength="15" required="" oninvalid="this.setCustomValidity('Lütfen bu alanı doldurunuz.')"  oninput="setCustomValidity('')"  value="{{alis.adapafta}}">
			</div>
			<div class="form-group col-sm-6">
		        <label for="recipient-name" class="control-label">Tarih:</label>
		        <div class="input-group date" data-provide="datepicker">
		            <input type="text" class="form-control" id="datepickertop" name="tarih" placeholder="Tarih"  required="" oninvalid="this.setCustomValidity('Lütfen bu alanı doldurunuz.')"  oninput="setCustomValidity('')"  value="{{alis.tarih}}">
		            <div class="input-group-addon">
		                <span class="glyphicon glyphicon-th"></span>
		            </div>
		          </div>
		      </div> 
			<div class="form-group col-sm-6">
				<label for="recipient-name" class="control-label">Gayrimenkul Alış Bedeli:</label>
				<input type="text" class="form-control " id="gayrimenkulalisbedeli" name="gayrimenkulalisbedeli" placeholder="Gayrimenkul Alış Bedeli" maxlength="20" required="" oninvalid="this.setCustomValidity('Lütfen bu alanı doldurunuz.')"  oninput="setCustomValidity('')" value="{{alis.gayrimenkulalisbedeli}}">
			</div>
			<div class="form-group col-sm-6">
				<label for="recipient-name" class="control-label">Masrafı:</label>
				<input type="text" class="form-control " id="masraf" name="masraf" placeholder="Masraf" maxlength="50" required="" oninvalid="this.setCustomValidity('Lütfen bu alanı doldurunuz.')"  oninput="setCustomValidity('')" value="{{alis.masraf}}">
			</div>
			<div class="form-group col-sm-12">
				<label for="recipient-name" class="control-label">Önceki Sahibi:</label>
				<input type="text" class="form-control " id="oncekisahibi" name="oncekisahibi" placeholder="Önceki Sahibi" maxlength="50" required="" oninvalid="this.setCustomValidity('Lütfen bu alanı doldurunuz.')"  oninput="setCustomValidity('')" value="{{alis.oncekisahibi}}">
			</div>
			<div class="form-group col-sm-12">
				<label for="recipient-name" class="control-label">Önceki Sahibi Hakkında:</label>
				<textarea type="text" class="form-control" id="oncekisahibihakkinda" name="oncekisahibihakkinda" placeholder="Önceki Sahibi Hakkında" >{{alis.oncekisahibihakkinda}}</textarea>
			</div>
		</div>
 <div class="modal-footer">
        <a href="/tapusicil/tapualis/kayitlar" role="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</a>
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>
  </form>  



			
</div>

<script type="text/javascript">
$(function() {
    if ($('#btn1').hasClass('active')){
    	$('#btn1').click().click();
    }
    if ($('#btn2').hasClass('active')){
    	$('#btn2').click().click();
    };
    if ($('#btn3').hasClass('active')){
    	$('#btn3').click().click();
    };
    if ($('#btn4').hasClass('active')){
    	$('#btn4').click().click();
    };
    if ($('#btn5').hasClass('active')){
    	$('#btn5').click().click();
    };
    if ($('#btn6').hasClass('active')){
    	$('#btn6').click().click();
    };
    if ($('#btn7').hasClass('active')){
    	$('#btn7').click().click();
    };
    if ($('#btn8').hasClass('active')){
    	$('#btn8').click().click();
    };
});

</script>

{% endblock %}
